:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --main-color: #e5e5e5;
  --title-secondary-color: #ffffff;
  --hover-color: #188ce8;
  --border-color: #eeeeee;
}

body {
  background-color: var(--title-secondary-color);
  font-family: "Roboto", "Raleway";
}

/* Portfolio Page Nav Bar Styling */

.button-group {
  margin-left: 0px;
}

.nav-style {
  list-style: none;
  width: 1600px;
}

.contact-style {
  list-style: none;
}

.web-studio-styling {
  color: var(--accent-color);
  position: absolute;
  width: 145px;
  height: 31px;
  margin-left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

.web-studio-styling:hover {
  color: var(--hover-color);
}

.studio-styling {
  position: absolute;
  width: 42px;
  left: 453px;
  top: 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.studio-styling:hover {
  color: var(--hover-color);
}

.portfolio-nav-bar {
  position: absolute;
  height: 16px;
  left: 552px;
  top: 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  margin-left: 57px;
  cursor: pointer;
}

.portfolio-nav-bar:hover {
  color: var(--hover-color);
}

.portfolio-contacts {
  position: absolute;
  height: 16px;
  left: 679px;
  top: 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-left: 69px;
  cursor: pointer;
}

.portfolio-contacts:hover {
  color: var(--hover-color);
}

.e-mail-two {
  position: absolute;
  height: 16px;
  left: 968px;
  top: 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  cursor: pointer;
  text-decoration: none;
}

.e-mail-two:hover {
  color: var(--accent-color);
}

.phone-number {
  position: absolute;
  top: 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  top: 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
  left: 1263px;
}

.phone-number:hover {
  color: var(--hover-color);
}

/* Button Group Styling (Under Navbar) */

.button-group {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 111px;
  margin-left: -165px;
}

.all-button,
.websites-button,
.apps-button,
.design-button,
.marketing-button {
  border-radius: 4px;
  height: 38px;
}

.all-button {
  width: 73px;
  margin-right: 8px;
  background-color: var(--accent-color);
  border: none;
  color: var(--title-secondary-color);
  left: 495px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  left: 215px;
}

.websites-button {
  width: 128px;
  height: 38px;
  background-color: var(--background-color-light);
  color: var(--primary-text-color);
  border: none;
  margin-right: 8px;
  left: 576px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.apps-button {
  width: 145px;
  height: 38px;
  left: 712px;
  background-color: var(--background-color-light);
  border: none;
  margin-right: 8px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.design-button {
  width: 103px;
  height: 38px;
  left: 865px;
  border-radius: 4px;
  background-color: var(--background-color-light);
  margin-right: 8px;
  text-align: center;
  line-height: 26px;
  border: none;
  letter-spacing: 0.03em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
}

.marketing-button {
  width: 130px;
  height: 38px;
  left: 976px;
  border-radius: 4px;
  background-color: var(--background-color-light);
  margin-right: 8px;
  text-align: center;
  line-height: 26px;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: 0.03em;
  border: none;
}

.projects-styling {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: inherit;
  margin-top: 262px;
  align-items: center;
  margin-left: 215px;
  margin-bottom: 30px;
}

.projects-styling p {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  line-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-left: 24px;
}

.projects-row-two p {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-left: 24px;
}

.projects-row-three p {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-left: 24px;
}

.projects-styling h4 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-left: 24px;
}

.projects-styling li,
.projects-row-two li,
.projects-row-three li {
  margin-right: 30px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  background-color: var(--title-secondary-color);
}

.projects-row-two h4 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-left: 24px;
}

.projects-row-three h4 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-left: 24px;
}

.projects-row-two {
  list-style: none;
  display: flex;
  font-family: inherit;
  flex-direction: row;
  margin-left: 215px;
  margin-bottom: 30px;
}

.projects-row-three {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: inherit;
  margin-left: 215px;
  margin-bottom: 94px;
}

.footer-container {
  width: 1600px;
  height: 252px;
  background-color: var(--background-color-dark);
}

.footer-list-style {
  list-style: none;
}

.footer-list-style {
  padding-top: 60px;
  margin-left: 215px;
}

.web-studio-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  color: var(--accent-color);
  padding-bottom: 5px;
}

.address-style {
  width: 231px;
  height: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--title-secondary-color);
  text-decoration: none;
  display: block;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.address-style:hover {
  color: var(--hover-color);
}

.email-number-two {
  width: 231px;
  height: 21px;
  font-style: normal;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 146px;
  text-decoration: none;
}

.email-number-two:hover {
  color: var(--hover-color);
}

.phone-number-two {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-top: 5px;
  text-decoration: none;
}

.phone-number-two:hover {
  color: var(--hover-color);
}
